/* styles.css */
body {
    padding-top: 56px; /* Jarak top untuk navbar fixed */
}

.footer {
    background-color: #f8f9fa; /* Warna latar belakang footer */
}

.carousel-item img {
    max-height: 400px; /* Mengatur tinggi maksimum gambar carousel */
    object-fit: cover; /* Menyesuaikan gambar agar sesuai dengan ukuran kontainer */
}

.card-img-top {
    max-height: 200px; /* Mengatur tinggi maksimum gambar produk */
    object-fit: cover; /* Menyesuaikan gambar agar sesuai dengan ukuran kontainer */
}
